<div class="adminTemp_body">
  <div class="adminTemp_container">
    <div class="adminTemp_vlogsConsole">
      <div class="adminTemp_vlogInfoInputHeader">
        <h2>Video-Logs Information Input</h2>
      </div>
      <div class="adminTemp_vlogInfoInput">
        <form [formGroup]="vlogsFormGroup" (ngSubmit)="createNewVlogEntry()">
          <mat-form-field class="matfieldString">
            <input matInput placeholder="Title" formControlName="videoTitle" />
            <mat-error *ngIf="videoTitle.hasError('required')"> Video Title Required </mat-error>
          </mat-form-field>
          <mat-form-field class="matfieldString">
            <input matInput placeholder="Enter youtube URL" formControlName="youtubeUrl" />
            <mat-error *ngIf="youtubeUrl.hasError('required')"> Url Required </mat-error>
          </mat-form-field>
          <mat-form-field class="matfieldString">
            <mat-label>Choose one</mat-label>
            <mat-select formControlName="videoGenere">
              <mat-option value="HOME_DECOR">HOMEDECOR</mat-option>
              <mat-option value="VLOGS">VLOGS</mat-option>
              <mat-option value="PRODUCT_REVIEW">PRODUCT REVIEW</mat-option>
              <mat-option value="LIFESTYLE">LIFESTYLE</mat-option>
              <mat-option value="HEALTHY_LIVING">HEALTHY LIVING</mat-option>
            </mat-select>
            <mat-error *ngIf="videoGenere.hasError('required')">Video Genere/ Type Required</mat-error>
          </mat-form-field>
          <div class="matfieldString">
            <div class="input-wrapper">
              <label>Date Time(via reactive form):</label>
              <input [formControl]="videoUploadDateTime" [owlDateTimeTrigger]="dtPicker2"
              [owlDateTime]="dtPicker2">
              <owl-date-time #dtPicker2></owl-date-time>
            </div>
          </div>
          <input type="submit" class="btn btn-primary" style="margin: 1rem;" />
        </form>
      </div>
    </div>
  </div>
</div>
