<div class="smCounterpanel">
  <!-- <div class="smCounter_title">
    <h3>Social Media Handles</h3>
  </div> -->
  <div class="smCountAmiContainer">
    <div class="smGroup">
      <div class="smCountCard firstChild">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>
        <h3>280 K+</h3>
      </div>
      <div class="smCountCard secondChild">
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <h3>17.2 K+</h3>
      </div>
    </div>
    <div class="smGroup">
      <!-- <div class="smCountCard thirdChild">
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <h3>0 K+</h3>
      </div>
      <div class="smCountCard fourthChild">
        <i class="fa fa-snapchat" aria-hidden="true"></i>
        <h3>  1 K+  </h3>
      </div>-->
    </div>
  </div>
</div>
