.navbar-body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar-container {
  width: 100%;
  padding-top: 1rem;
  height: 3rem;
  display: flex;
  background: rgb(89,89,89);
  background: linear-gradient(180deg, rgba(89,89,89,1) 0%, rgba(131,131,131,0.4990371148459384) 50%, rgba(255,255,255,0) 100%);
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-container .navbar-toggle {
  position: absolute;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  padding-left: 0.8rem;
}

.navbar-container .navbar-toggle a {
  font-size: 23px;
  cursor: pointer;
  margin-top: 10px;
  color: #fff;
  border-radius: 2rem;
  padding-top:-10px;
  padding: 0px 3px;
}

.navbar-container .navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: .5s;
}
.navbar-container .navbar-logo img{
  width: 12rem;
  object-fit: fill;
  display: block;
}

/* Navbar menu for Full Screen */
.navbar-menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 1;
  transition: 0.5s;
}

.navbar-menu-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.navbar-menu-container .navbar-close {
  position: absolute;
  left: 1rem;
  top: 1rem;
}

.navbar-menu-container .navbar-close a{
  font-size: 35px;
  cursor: pointer;
  color: #000;
}

.navbar-details {
  padding: 1rem;
  background-color: #4169e1;
  border-radius: 0.5rem;
}

.navbar-details .navbar-menu-logo {
  position: relative;
}

.navbar-details .navbar-menu-logo img{
  width: 18rem;
  object-fit: fill;
  display: block;
}

.navbar-details .navbar-menu-list {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}

ul li {
  text-align: center;
  list-style: none;
  border-radius: 0.5rem;
}

ul li a {
  padding: 10px;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

ul li a:hover {
  background-color: #fff;
  color: #000
}

.navbar-menu.active {
  left: 0;
  overflow: auto;
}

.navbar-details .navbar-menu-socialmedia {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 1.5rem;
  color: #fff;
}

.navbar-menu-socialmedia a i{
  font-size: 35px;
  margin: .5rem;
}

@media (min-width: 768px) and (orientation:portrait) {

}

@media (min-width: 1000px) and (orientation:portrait) {

}

@media (min-width: 1224px) and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}
