
header {
  position: relative;
  max-width: 100%;
  max-height: 4rem;
  /* box-sizing: content-box; */
  box-sizing: border-box;
  background: rgba(242, 243, 246, 0.2);
  box-shadow: 0 5px 5px rgba(0,0,0,0.1);
  transition: 0.5s;
}
header .navbar-logo {
  display: block;
  position: relative;
  text-align: center;
}
.navbar-logo img {
  max-height: 3rem;
  object-fit: cover;
}
header .toggleMenu {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  height: 3rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  float: right;
  padding: 0.5rem;
  font-size: 25px;
  color: #232A37;
}
header ul {
  position: relative;
  width: 100%;
  top:0;
  display: none;
}
header ul.active {
  display: block;
  transition: 0.5s;
}
header ul li {
  list-style: none;
}
header ul li a {
  padding: 1rem 0;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  background: rgba(0,0,0,0.8);
  transition: 0.5s;
}
header ul li a:hover {
  background-color: #B8C2C4;
  color: #fff;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
}
@media (min-width: 768px) and (orientation:portrait) {
}
@media (min-width: 1024px) and (orientation:portrait) {
  header {
    display: flex;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
  }

  header .navbar-logo {
    display: block;
    position: relative;
    text-align: left;
    padding-top: 2rem;
    padding-left: 4rem;
  }
  .navbar-logo img {
    max-height: 4rem;
    object-fit: cover;
  }
  header .toggleMenu {
    display: none;
  }
  header ul{
    margin-top: 2rem;
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-end;
  }
  header ul li .verticalBar {
    border-left: 2px solid #232A37;
    height: 2rem;
    margin-top: 0.8rem;
  }
  header ul li {
    border: 4px;
    border-color: #999;
  }
  header ul li a {
    padding: 1rem 2rem;
    color: #232A37;
    background: rgba(0,0,0,0);
  }
}
@media all and (orientation:landscape) {
}
@media (min-width: 768px) and (orientation:landscape) {
}
@media (min-width: 1024px) and (orientation:landscape) {
  header {
    display: flex;
    box-sizing: content-box;
    background: rgba(255, 255, 255, 0);
    box-shadow: none;
  }
  header .navbar-logo {
    display: block;
    position: relative;
    text-align: left;
    padding-top: 2rem;
    padding-left: 4rem;
  }
  .navbar-logo img {
    max-height: 6rem;
    object-fit: cover;
  }
  header .toggleMenu {
    display: none;
  }
  header ul{
    margin-top: 2rem;
    display: flex;
    float: right;
    width: 100%;
    justify-content: flex-end;
  }
  header ul li .verticalBar {
    border-left: 2px solid #232A37;
    height: 2rem;
    margin-top: 0.8rem;
  }
  header ul li {
    border: 4px;
    border-color: #999;
  }
  header ul li a {
    padding: 1rem;
    color: #232A37;
    background: rgba(0,0,0,0);
  }
}
@media (min-width: 1224px) and (orientation:landscape) {
  header ul li a {
    padding: 1rem 2rem;
    background: rgba(0,0,0,0);
  }
}
