<div class="navbar-body">
  <section>
    <header>
      <div class="navbar-logo">
        <img src='https://drive.google.com/uc?id=1av1ZQVH-F4jDo6sEw2FROCQMV-8IvlEe'/>
      </div>
      <a class="toggleMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
      <ul>
        <li><a routerLink='/'>Home</a></li>
        <li><div class="verticalBar"></div></li>
        <li><a routerLink='/promotions'>Product's Reviews</a></li>
        <li><div class="verticalBar"></div></li>
        <li><a routerLink='/blogs'>DIY's</a></li>
        <li><div class="verticalBar"></div></li>
        <li><a href="https://www.youtube.com/channel/UCo1Rx0-CfOuxoTmOcjiCtHQ">Youtube</a></li>
        <li><div class="verticalBar"></div></li>
        <li><a routerLink='/aboutme'>About me</a></li>
      </ul>
    </header>
  </section>
</div>
