<div class="navbar-body">
  <div class='navbar-container'>
    <div class="navbar-toggle">
        <a><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    <div class="navbar-logo">
      <img src='https://drive.google.com/uc?id=1av1ZQVH-F4jDo6sEw2FROCQMV-8IvlEe' routerLink='/'/>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-menu-container">
      <div class="navbar-close">
          <a><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="navbar-details">
        <div class="navbar-menu-logo">
          <img src='https://drive.google.com/uc?id=1av1ZQVH-F4jDo6sEw2FROCQMV-8IvlEe' routerLink='/'/>
        </div>
        <div class="navbar-menu-list">
          <ul>
            <li><a routerLink='/'>Home</a></li>
            <li><a routerLink='/promotions'>Product Reviews</a></li>
            <!-- <li><a routerLink='/stories'>Stories</a></li> -->
            <li><a href="https://www.youtube.com/channel/UCo1Rx0-CfOuxoTmOcjiCtHQ">Youtube</a></li>
            <li><a routerLink='/aboutme'>About me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
