<div class="navbar-body">
  <div class='navbar-container'>
    <div class="navbar-toggle">
        <a><i class="fa fa-bars" aria-hidden="true"></i></a>
    </div>
    <div class="navbar-logo">
      <img src='/assets/img/logo2.png' routerLink='/'/>
    </div>
  </div>
  <div class="navbar-menu">
    <div class="navbar-menu-container">
      <div class="navbar-close">
          <a><i class="fa fa-times" aria-hidden="true"></i></a>
      </div>
      <div class="navbar-menu-logo">
        <img src='/assets/img/logo2.png' routerLink='/'/>
      </div>
      <div class="navbar-menu-list">
        <ul>
          <li><a routerLink='/'>Home</a></li>
          <li><a routerLink='/blogs'>Blogs</a></li>
          <li><a routerLink='/vlogs'>Youtube Videos</a></li>
          <li><a routerLink='/fashionLifestyle'>Products</a></li>
          <li><a routerLink='/aboutme'>About me</a></li>
        </ul>
      </div>
      <div class="navbar-menu-socialmedia">
        <a><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
        <a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a><i class="fa fa-snapchat-square" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</div>
