.navbar-body {
  padding: 0;
}

.navbar-body .navbar-logo img {
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  transition: 0.5s;
}

@media (min-width: 768px) {
  .navbar-body .navbar-logo img {
    height: 120px;
  }
}

@media (min-width: 1000px) {
  .navbar-body .navbar-logo img {
    height: 160px;
  }
}
