.aboutme_body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* Eternal Constance blue - Green */
  background: rgb(22,148,182);
  background: linear-gradient(180deg, rgba(22,148,182,1) 0%, rgba(46,79,132,1) 100%);
  /* Background color blue to light blue */
  /* background: rgb(69,115,177);
  background: linear-gradient(180deg, rgba(69,115,177,1) 0%, rgba(30,60,114,1) 100%); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.aboutme_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background: #fff;
  margin: 1rem;
  margin-top: 6rem;
  border-radius: 0.8rem;
  transition: 0.5s;
}

.aboutme_container .aboutme_imgbx {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  padding: 2rem;
  position: relative;
  transition: .5s;
  background: #40e0d0;
  border-radius: 0.8rem;
}

.aboutme_container .aboutme_imgbx img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.aboutme_container .aboutme_details {
  margin: auto;
  padding: 1rem;
  margin-top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutme_container .aboutme_details h2 {
  margin-top: 2rem;
  font-size: 35px;
  text-align: center;
}
.aboutme_container .aboutme_details p {
  word-wrap: break-word;
  flex-wrap: wrap;
  font-size: 18px;
}
.aboutme_container .aboutme_details h3 {
  margin-top: 2rem;
  font-size: 16px;
  text-align: center;
}

.aboutme_container .aboutme_details .aboutme_socialmedia {
  text-align: center;
  display: flex;
  justify-content: center;
}

.aboutme_container .aboutme_details .aboutme_socialmedia a i{
  font-size: 35px;
  margin: .5rem;
}

@media (min-width: 1000px) {
  .aboutme_container {
    flex-direction: row;
    transition: 0.5s;
    width: 70rem;
  }

  .aboutme_container .aboutme_imgbx {
    max-width: 20rem;
    min-width: 20rem;
    height: 20rem;
    padding: 1rem;
  }

  .aboutme_container .aboutme_details h2 {
    margin-top: 5rem;
    font-size: 35px;
    text-align: left;
  }
}
