<div class="aboutme_body">
  <div class="aboutme_container">
    <div class="aboutme_imgbx">
      <img src="/assets/img/ruchi.png">
    </div>
    <div class="aboutme_details">
      <div class="aboutme_content">
        <h2>Welcome All,</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
          industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <h3>Kindly subscribe and follow me on:</h3>
        <div class="aboutme_socialmedia">
          <ul>
            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-snapchat" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="contactModes">
        <div class="contactModes_title">
          <h3>Contact Modes</h3>
          <hr>
          <div>
            <div class="contactModes_container">
              <div class="brandCollab">
                <i class="fa fa-handshake-o" aria-hidden="true"> <br /> Brand Collaborations </i>
              </div>
              <div class="whatsAppContact">
                <i class="fa fa fa-whatsapp" aria-hidden="true"> <br /> WhatsApp </i>
              </div>
            </div>
          </div>
          <h3>Brand Collaboration/Advertising Partnership</h3>
          <hr>
          <div class="aboutme_brandCollab">
            <app-brandCollab></app-brandCollab>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
