<div class="home-body">
  <div class="home-container">
    <div class="home-slider">
      <div class="home-slide slide1">
        <div class="caption">
          <h2>Slide 1</h2>
          <p>This is Something which is very very simple and i like it the way it is...</p>
        </div>
      </div>
      <div class="home-slide slide2">
        <div class="caption">
          <h2>Slide 2</h2>
          <p>This is Something which is very very simple and i like it the way it is...</p>
        </div>
      </div>
      <div class="home-slide slide3">
        <div class="caption">
          <h2>Slide 3</h2>
          <p>This is Something which is very very simple and i like it the way it is...</p>
        </div>
      </div>
      <div class="home-slide slide4">
          <div class="caption">
            <h2>Slide 4</h2>
            <p>This is Something which is very very simple and i like it the way it is...</p>
          </div>
        </div>
      <div class="home-slide slide1">
        <div class="caption">
          <h2>Slide 1</h2>
          <p>This is Something which is very very simple and i like it the way it is...</p>
        </div>
      </div>
    </div>
  </div>
</div>
