<div class="blogs_body">
  <div class="blog_title_container">
    <div class="stories-title">
      <h1>Stories & Inspirations</h1>
    </div>
    <mat-form-field appearance="outline" color="white">
      <mat-label>Search for Blog info</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input matInput placeholder="Title, Author" />
    </mat-form-field>
  </div>
  <div class="blog_container" *ngFor="let recipient of blogsListMap | keyvalue : asIsOrder">
    <div class="blog_genere_heading">
      <h1>{{recipient.key}}</h1>
    </div>
    <div class="blog_genere">
      <div class="blogs_post" *ngFor="let blog of recipient.value" (click)="navigateToBlog(blog)">
        <div class="blogs_post_img">
          <img src="{{ blog.blogThumbnail }}" />
        </div>
        <div class="blogs_post_info">
          <h2 class="blogs_title">{{ blog.blogTitle }}</h2>
          <div class="blogs_post_auth_date">
            <h4>{{ blog.blogAuthor }}</h4>
            <span>{{ blog.blogDateTime.toDate() | date:'dd MMM, yyyy h:mm' }}</span>
          </div>
          <p class="blogs_text">{{ blog.blogText }}</p>
          <a href="#" class="blogs_cta">Click to Read More ...</a>
        </div>
      </div>
    </div>
  </div>
</div>
