<div class="blogs_body">
  <div class="blog_container">
    <div class="blogs_post">
      <div class="blogs_post_img">
        <img src="/assets/img/blogs1.jpg" />
      </div>
      <div class="blogs_post_info">
        <h2 class="blogs_title">Blog 1: Flowers are precious</h2>
        <div class="blogs_post_auth_date">
          <h4>Author 1</h4>
          <span>October, 27 2019</span>
        </div>
        <p class="blogs_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="blogs_cta">Read More ...</a>
      </div>
    </div>
    <div class="blogs_post">
      <div class="blogs_post_img">
        <img src="/assets/img/blogs2.jpg" />
      </div>
      <div class="blogs_post_info">
        <h2 class="blogs_title">Blog 2: precious is a keep owe</h2>
        <div class="blogs_post_auth_date">
          <h4>Author 2</h4>
          <span>October, 27 2019</span>
        </div>
        <p class="blogs_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
          been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
          and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
          electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
          Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus
          PageMaker including versions of Lorem Ipsum.</p>
        <a href="#" class="blogs_cta">Read More ...</a>
      </div>
    </div>
  </div>
</div>
