<div @fadeout *ngIf="loadingApp">
  <app-splash-loader></app-splash-loader>
</div>
<div class="vlogs_body">
  <div class="vlogs_content">
    <div class="vlogs_header">
      <h2>YouTube Videos</h2>
    </div>
    <div class="vlogs_container">
      <div class="vlogs_post" *ngFor="let videolog of videoLogList | async">
        <div class="vlogs_video">
          <iframe [src]='sanitizer.bypassSecurityTrustResourceUrl(videolog.youtubeLink)' frameborder="0"></iframe>
        </div>
        <div class="vlogs_description">
          <h2>{{ videolog.videoTitle }}</h2>
          <span>{{ videolog.uploadDateTime.toDate() | date:'dd MMM, yyyy h:mm' }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
