<div class="vlogs_body">
  <div class="vlogs_header">
    <h2>YouTube Videos</h2>
  </div>
  <div class="vlogs_search">
    <input type="text" placeholder="Search..">
    <a href="#">
      <i class="fa fa-search"></i>
    </a>
  </div>
  <div class="vlogs_container">
    <div class="vlogs_post">
      <div class="vlogs_video">
        <iframe src="https://www.youtube.com/embed/O3zjGKpl2xM" frameborder="0"></iframe>
      </div>
      <div class="vlogs_description">
        <h2>Traditional Indian Wedding: Bhai ki shadi</h2>
        <span>Date: 23, October 2019</span>
      </div>
    </div>
    <div class="vlogs_post">
      <div class="vlogs_video">
        <iframe src="https://www.youtube.com/embed/O3zjGKpl2xM" frameborder="0"></iframe>
      </div>
      <div class="vlogs_description">
        <h2>Traditional Indian Wedding: Bhai ki shadi</h2>
        <span>Date: 23, October 2019</span>
      </div>
    </div>
  </div>
</div>
