<div class="home-body">
  <div class="home-container">
    <div class="home-caption-container">
      <div class="home-caption">
        <div class="home-video">
          <iframe src="https://www.youtube.com/embed/O3zjGKpl2xM" frameborder="0"></iframe>
        </div>
        <div class="home-intro">
          <h2>Welcome</h2>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book.</p>
        </div>
      </div>
    </div>
    <div class="home-slider">
      <div class="home-slide slide1">
        <img src="/assets/img/home1.jpeg">
        <!-- <div class="caption">
          <h2>Slide 1</h2>
          <p>This is Something which is very very simple and i like it the way it is...</p>
        </div> -->
      </div>
      <div class="home-slide slide2">
          <img src="/assets/img/home5.jpeg">
      </div>
      <div class="home-slide slide3">
        <img src="/assets/img/home3.jpeg">
      </div>
      <div class="home-slide slide4">
        <img src="/assets/img/home4.jpeg">
      </div>
      <div class="home-slide slide1">
        <img src="/assets/img/home1.jpeg">
      </div>
    </div>
  </div>
</div>
