.home-body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.home-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.home-banner_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  position: relative;
  background: rgb(255,145,181);
  background: linear-gradient(142deg, rgba(255,145,181,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,0) 90%);
  /* background: rgb(255,215,0);
  background: linear-gradient(142deg, rgba(255,215,0,1) 0%, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 90%); */
}
.home-banner {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  /* background-color:#F2F3F6; */
  background-image: url('https://drive.google.com/uc?id=1y6Jvm9jNvAer9yD5j-XxN63ACmdcxnFz');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #000;
}
.home-banner-text {
  position: absolute;
  width: 100%;
  z-index: 2;
  top: 25%;
  left: 5%;
}
.home-banner-text h3 {
  font-size: 15px;
  font-weight: bold;
}
.home-banner-text h2 {
  font-size: 25px;
  font-family: 'Charmonman', cursive;
  font-weight: bold;
  color: #FF5353;
}
.home-banner-text h4 {
  font-size: 15px;
  color: #918a8a;
}
.home-banner-text button {
  background-color: #0C4481;
}
.home-banner-image {
  width: 21rem;
  height: 19rem;
  position: absolute;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.home-banner-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: fill;
}

.home-banner-dailyupdates {
  position: absolute;
  bottom: 0;
  left: 1rem;
  padding: 0.5rem 1.5rem 0 1.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #45C455;
  color: #fff;
  animation: fadeInUp;
  animation-duration: 2.5s;
  cursor: pointer;
}
.home-banner-dailyupdates span{
  display: none;
}
.home-banner-dailyupdates h3{
  display: none;
}
.home-banner-dailyupdates h4 {
  font-size: 18px;
}
.home-banner_container .home-social-media-back {
  position: relative;
  align-self: flex-end;
  left:0;
  bottom:0;
  width: 100%;
  background-color: #F2F3F6;
  background-image: url('https://drive.google.com/uc?id=14ryiRJVaWox0VbbI3db7ucN59SkmR4B-');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
  padding: 1rem 0;
  overflow: hidden;
}
.home-center-title {
  background-color: #232A37;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-image: url('https://drive.google.com/uc?id=14ryiRJVaWox0VbbI3db7ucN59SkmR4B-');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}
.home-center-title h1 {
  color: #232A37;
  padding: 1rem 3rem;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 5rem;
}
.home-content-card {
  display: flex;
  width: 100%;
  background-color: #F2F3F6;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.home-content-card .content-card {
  animation: jackInTheBox;
  animation-duration: 1.5s;
  position: relative;
  max-width: 20rem;
  max-height: 25rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  margin: 2.5rem 1rem 0 1rem;
}
.home-content-card .content-card .img-box {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  transform: translateY(-1rem);
  transition: .5s;
  border-radius: .4rem;
  box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.home-content-card .content-card .img-box img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  object-fit: cover;
  display: block;
  border-radius: .4rem;
  transition: .5s;
}
.home-content-card .content-card .content-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #DCA141;
  font-weight: bold;
}
.home-content-card .content-card span {
  visibility: visible;
  overflow: auto;
  text-align: justify;
  margin: 0 1rem 1rem;
}
.home-best-comments {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#F2F3F6;
  background-image: url('https://drive.google.com/uc?id=1Th3_imXvhYWC7dCi5uecDU0uiF1rFHPu');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-best-comments .comment-floater {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 2rem;
}
.socialMedia-title {
  background-color: #FAD5E6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  background-image: url('https://drive.google.com/uc?id=1sjXrkISpbhtkbGxLgw-A2Kev_pBqTAdC');
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
}
.socialMedia-title h1 {
  color: #000;
  padding: 1rem 3rem;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 5rem;
}
.home-instagram-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 100%;
}
.home-instagram-panel .socialMedia-title {
  background-color: #1F1F40;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.home-instagram-panel .instagram-galleryContainer {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}
.home-instagram-panel .instagram-galleryContainer /deep/ .instagram_gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-instagram-panel .instagram-galleryContainer /deep/ img {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  margin: 1rem;
  object-fit: cover;
  display: block;
  border-radius: 0.2rem;
  transition: 0.5s;
  opacity: 0.7;
}
.home-instagram-panel .instagram-galleryContainer /deep/ img:hover {
  transform: translateY(-0.5rem);
  opacity: 1;
}

.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1F1F40;
  color: white;
  width: 100%;
}
.home-footer .home-contact-info {
  padding: 4rem 1rem 1rem;
  font-size: 20px;
}
.home-footer .home-contactTypes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.home-footer .verticalBar {
  display: none;
  border-left: 2px solid #F2F3F6;
  height: 10rem;
  opacity: 0.5;
  margin-top: 0.8rem;
}

.home-footer h4 {
  background-color: #45C455;
  cursor: pointer;
  padding: 1rem 2rem;
  font-size: 20px;
  border-radius: 0.4rem;
  margin: 1rem;
}
.home-footer h2 {
  background-color: #fff;
  color: #1F1F40;
  margin: 1rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  font-size: 20px;
}
@media (min-width: 768px) and (orientation:portrait) {
  .home-banner {
    min-height: 80vh;
    max-height: 80vh;
  }
  .home-social-media-back {
    min-height: 20vh;
    max-height: 20vh;
  }
  .home-banner-image {
    width: 45rem;
    height: 39rem;
  }
  .home-banner-text h3 {
    font-size: 20px;
  }
  .home-banner-text h2 {
    font-size: 30px;
  }
  .home-banner-text h4 {
    font-size: 20px;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 90%;
  }
}

@media (min-width: 1224px) and (orientation:portrait) {
  .home-banner-text h3 {
    font-size: 25px;
  }
  .home-banner-text h2 {
    font-size: 35px;
  }
  .home-banner-text h4 {
    font-size: 35px;
  }
  .home-footer home-contact-info {
    width: 70rem;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 80rem;
  }
  .home-instagram-panel .instagram-galleryContainer /deep/ img {
    max-width: 23rem;
    min-width: 23rem;
    height: 23rem;
  }
}

@media all and (orientation:landscape) {
  .home-banner-text button {
    display: none;
  }
  .home-banner-image {
    height: calc(100% - 4rem);
    width: calc(50%);
  }
  .home-footer .home-contact-types {
    flex-direction: row;
  }
  .home-footer home-contact-info {
    width: 80%;
  }
}

@media (min-width: 768px) and (orientation:landscape) {
  .home-banner-text button {
    display: block;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 90%;
  }
}
@media (min-width: 1024px) and (orientation:landscape) {
  .home-banner-image {
    width: 35rem;
    height: 31rem;
  }
}
@media (min-width: 1224px) and (orientation:landscape) {
  .home-banner {
    min-height: 78vh;
    max-height: 78vh;
  }
  .home-social-media-back {
    min-height: 22vh;
    max-height: 22vh;
  }
  .home-banner-image {
    width: auto;
    height: calc(100% - 6rem);
  }
  .home-banner-dailyupdates {
    left: 20%;
  }
  .home-banner-dailyupdates span{
    display: block;
    font-size: 18px;
    background-color: #DCA141;
    border-radius: 0.5rem;
    padding: 0 0.5rem;
  }
  .home-banner-dailyupdates h3{
    display: block;
    padding-top: 0.5rem;
    font-size: 18px;
  }
  .home-banner-dailyupdates h4{
    display: none;
  }
  .home-banner-text {
    width: 30%;
    padding-left: 5rem;
    padding-top: 5rem;
    white-space: nowrap;
  }
  .home-banner-text h3 {
    font-size: 20px;
  }
  .home-banner-text h2 {
    font-size: 40px;
  }
  .home-banner-text h4 {
    font-size: 25px;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 80rem;
  }
  .home-instagram-panel .instagram-galleryContainer /deep/ img {
    max-width: 23rem;
    min-width: 23rem;
    height: 23rem;
  }
  .home-footer {
    flex-direction: row;
  }
  .home-footer .home-contact-info {
    width: 40rem;
    padding: 4rem 1rem 1rem;
    font-size: 20px;
  }
  .home-footer .verticalBar {
    display: block;
  }
  .home-footer .home-contactTypes {
    flex-direction: column
  }
}
