.home-body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.home-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-banner {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
  background-color:#470FA8;
  background-image: url('/assets/img/homebackTexture.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.home-banner-text {
  width: 100%;
  height: 20%;
  padding-left: 2rem;
}

.home-banner-text h3 {
  font-size: 15px;
}

.home-banner-text h2 {
  font-size: 20px;
  color: #DCA141;
}

.home-banner-text button {
  background-color: #DCA141;
}

.home-banner-image {
  width: 100%;
  height: 80%;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}

.home-banner-image img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
  display: inline-block;
}

.home-center-title {
  background-color:#470FA8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  padding: 2rem 0;
}
.home-center-title h1 {
  color: #470FA8;
  padding: 1rem 4rem;
  font-size: 40px;
  background-color: #fff;
  border-radius: 5rem;
}

.home-content-card {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem 0 4rem 0;
}

.home-content-card .home-center-title hr {
  color: #DCA141;
  border: 2px;
}

.home-content-card .content-card {
  animation: jackInTheBox;
  animation-duration: 1.5s;
  position: relative;
  max-width: 20rem;
  max-height: 18rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  margin: 3rem 1rem 0 1rem;
}

.home-content-card .content-card:hover {
  max-height: 25rem;
}

.home-content-card .content-card .img-box {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  transform: translateY(-2rem);
  transition: .5s;
}

.home-content-card .content-card .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .4rem;
  transition: .5s;
}
.home-content-card .content-card .content-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-1rem);
  color: #DCA141;
  font-weight: bold;
}
.home-content-card .content-card span {
  visibility: hidden;
  overflow: hidden;
  margin: 1rem 1rem;
}
.home-content-card .content-card:hover span {
  visibility: visible;
  overflow: auto;
}
.home-social-media-back {
  background-color: #470FA8;
}
.home-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background: rgb(142, 100, 214);
  padding-bottom: 3rem;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
.home-social-media .sm-content {
  cursor: pointer;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  color: #fff;
}
.sm-content .sm-content-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.sm-content .sm-content-details {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.home-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1F1F40;
  color: white;
  width: 100%;
  padding: 4rem 1rem;
}
.home-footer home-contact-info {
  width: 90%;
}
.home-footer .home-contact-types {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.home-footer .home-contact-types .sm-content {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  color: #fff;
}

.home-footer .home-contact-types .sm-content .sm-content-icon {
  font-size: 30px;
}

.home-footer .home-contact-types .sm-content .sm-content-details h4 {
  font-size: 20px;
}

.home-best-comments {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color:#FFE5E5;
  background-image: url('/assets/img/homebackTexture.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-best-comments .comments-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2rem;
  border-radius: 5rem;
  background-color: #470FA8;
  padding: 1rem 2rem;
  color: #fff;
  max-width: 20rem;
  text-align: center;
}
.home-best-comments .comments-title h1{
  font-size: 30px;
}
.home-best-comments .comment-floater {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 1rem;
  margin: 2rem 1rem;
  border-radius: 2rem;
}

.home-best-stories {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.home-best-stories .stories-title {
  background-color: #8E64D6;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-instagram-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  min-width: 100%;
}
.home-instagram-panel .socialMedia-title {
  background-color: #1F1F40;
  padding: 2rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.home-instagram-panel .instagram-galleryContainer {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 4rem;
}

.home-instagram-panel .instagram-galleryContainer /deep/ .instagram_gallery {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.home-instagram-panel .instagram-galleryContainer /deep/ img {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  margin: 1rem;
  object-fit: cover;
  display: block;
  border-radius: 0.2rem;
  transition: 0.5s;
  opacity: 0.7;
}
.home-instagram-panel .instagram-galleryContainer /deep/ img:hover {
  transform: translateY(-0.5rem);
  opacity: 1;
}

.home-best-stories .stories-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 4rem 1rem;
}

.home-best-stories .stories-container .stories-card {
  position: relative;
  max-width: 20rem;
  max-height: 30rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 0.3rem;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;
  margin: 2rem;
}

.stories-card .img-box {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  transition: .5s;
  margin: 1rem;
}

.stories-card .img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .4rem;
  transition: .5s;
}
.stories-card .stories-header {
  width: 100%;
  padding: 2rem;
  color: rgb(95, 95, 100);
}

.stories-card .stories-header h2 {
  color: #1F1F40;
}

@media (min-width: 768px) and (orientation:portrait) {
  .home-banner-text {
    padding-left: 4rem;
    padding-top: 4rem;
  }
  .home-banner-text h3 {
    font-size: 20px;
  }
  .home-banner-text h2 {
    font-size: 30px;
  }
  .home-banner-text h1 {
    font-size: 30px;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 90%;
  }
}

@media (min-width: 1224px) and (orientation:portrait) {
  .home-banner-text {
    padding-left: 5rem;
    padding-top: 5rem;
  }
  .home-banner-text h3 {
    font-size: 25px;
  }
  .home-banner-text h2 {
    font-size: 35px;
  }
  .home-banner-text h1 {
    font-size: 35px;
  }
  .home-footer home-contact-info {
    width: 80%;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 80rem;
  }
  .home-instagram-panel .instagram-galleryContainer /deep/ img {
    max-width: 23rem;
    min-width: 23rem;
    height: 23rem;
  }
}

@media all and (orientation:landscape) {
  .home-banner {
    display: flex;
    flex-direction: row;
  }
  .home-banner-text {
    width: 50%;
    height: 100%;
    padding-left: 2rem;
  }
  .home-banner-image {
    width: 50%;
    height: 100%;
    bottom: 0px;
    right: 0px;
  }
  .home-footer .home-contact-types {
    flex-direction: row;
  }
  .home-footer home-contact-info {
    width: 80%;
  }
}

@media (min-width: 768px) and (orientation:landscape) {
  .home-banner-text {
    width: 40%;
  }
  .home-banner-image {
    width: 60%;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 90%;
  }
}

@media (min-width: 1224px) and (orientation:landscape) {
  .home-banner-text {
    width: 30%;
    padding-left: 5rem;
    padding-top: 5rem;
    white-space: nowrap;
  }
  .home-banner-text h3 {
    font-size: 25px;
  }
  .home-banner-text h2 {
    font-size: 35px;
  }
  .home-banner-text h1 {
    font-size: 35px;
  }
  .home-banner-image {
    width: 70%;
  }
  .home-instagram-panel .instagram-galleryContainer {
    width: 80rem;
  }
  .home-instagram-panel .instagram-galleryContainer /deep/ img {
    max-width: 23rem;
    min-width: 23rem;
    height: 23rem;
  }
}
