<div class="home-body">
  <div class="home-container">
    <div class="home-banner">
      <div class="home-banner-text">
        <h3>Welcome, all</h3>
        <h2>My Name is Ruchi</h2>
        <h1>I Am A Content Creator on Youtube</h1>
        <br/>
        <button class="btn btn-info" (click)="scrollToBottom()">Contact Me</button>
      </div>
      <div class="home-banner-image">
        <img src="/assets/img/homeImage.png">
      </div>
    </div>
    <div class="home-center-title">
      <h1>Genere</h1>
    </div>
    <div class="home-content-card">
      <div class="content-card">
        <div class="img-box">
          <img src="/assets/img/blogs1.jpg">
        </div>
        <div class="content-header">
          <h2>DIY</h2>
        </div>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of PageMaker including versions of Lorem Ipsum.</span>
      </div>
      <div class="content-card">
        <div class="img-box">
          <img src="/assets/img/blogs2.jpg">
        </div>
        <div class="content-header">
          <h2>Home-Decor</h2>
        </div>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of PageMaker including versions of Lorem Ipsum.</span>
      </div>
      <div class="content-card">
        <div class="img-box">
          <img src="/assets/img/blogs3.jpg">
        </div>
        <div class="content-header">
          <h2>Life-Style</h2>
        </div>
        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of PageMaker including versions of Lorem Ipsum.</span>
      </div>
    </div>
    <div class="home-social-media">
      <div class="sm-content">
        <div class="sm-content-icon">
          <a><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
        </div>
        <div class="sm-content-details">
          <h4>subscribers</h4>
          <h4>250 K+</h4>
        </div>
      </div>
      <div class="sm-content">
        <div class="sm-content-icon">
          <a><i class="fa fa-instagram" aria-hidden="true"></i></a>
        </div>
        <div class="sm-content-details">
          <h4>followers</h4>
          <h4>250 K</h4>
        </div>
      </div>
      <div class="sm-content">
        <div class="sm-content-icon">
          <a><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
        <div class="sm-content-details">
          <h4>followers</h4>
          <h4>250 K</h4>
        </div>
      </div>
      <div class="sm-content">
        <div class="sm-content-icon">
          <a><i class="fa fa-snapchat-square" aria-hidden="true"></i></a>
        </div>
        <div class="sm-content-details">
          <h4>followers</h4>
          <h4>250 K</h4>
        </div>
      </div>
    </div>
    <div class="home-best-comments">
      <div class="comments-title">
        <h1>Viewers Complements</h1>
      </div>
      <div class="comment-floater">
        <h2>Rashmi Desai</h2><p>23, March 2020</p>
        <span>Ruchi di you have been such an inspiration to me, i have learnt so many things from you.Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown.</span>
      </div>
    </div>
    <div class="home-best-stories">
      <div class="stories-title">
        <h1>Stories</h1>
      </div>
      <div class="stories-container">
        <div class="stories-card">
          <div class="img-box">
            <img src="/assets/img/blogs3.jpg">
          </div>
          <div class="stories-header">
            <h2>Live life happy, without burdon</h2>
            <h5>Ruchi Chaturvedi</h5>
            <p>23, March 2020</p>
          </div>
        </div>
        <div class="stories-card">
          <div class="img-box">
            <img src="/assets/img/blogs1.jpg">
          </div>
          <div class="stories-header">
            <h2>Live life happy, without burdon</h2>
            <h5>Ruchi Chaturvedi</h5>
            <p>23, March 2020</p>
          </div>
        </div>
        <div class="stories-card">
          <div class="img-box">
            <img src="/assets/img/blogs2.jpg">
          </div>
          <div class="stories-header">
            <h2>Live life happy, without burdon</h2>
            <h5>Ruchi Chaturvedi</h5>
            <p>23, March 2020</p>
          </div>
        </div>
      </div>
    </div>
    <div class="home-footer">
      <div class="home-contact-info">
        <h1>Contact Info</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of PageMaker including versions of Lorem Ipsum.</p>
      </div>
      <div class="home-contact-types">
        <div class="sm-content">
          <div class="sm-content-icon">
            <a><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
          <div class="sm-content-details">
            <h4>+91 9999999990</h4>
          </div>
        </div>
        <div class="sm-content">
          <div class="sm-content-icon">
            <a><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a>
          </div>
          <div class="sm-content-details">
            <h4>dummy@abc.com</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
