.error-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
  font-family: 'Roboto', sans-serif;
}

h1 {
  position: fixed;
  color: #fff;
}

h2 {
  position: fixed;
  color: #fff;
}
