.adminTemp_body {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  /* Eternal Constance blue - Green */
  background: rgb(22,148,182);
  background: linear-gradient(180deg, rgba(22,148,182,1) 0%, rgba(46,79,132,1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
}

.adminTemp_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  background: #fff;

  margin-top: 6rem;
  border-radius: 0.8rem;
  transition: 0.5s;
}

.adminTemp_Card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #fff;
  border-radius: .4rem;
  box-shadow: 0 1.4rem 2rem rgba(0,0,0,.2);
  transition: .5s;
  margin-top: 2rem;
}

.adminTemp_Header h2{
  margin-left: 2rem;
}

.adminTemp_Input {
 width: 50%;
}

.matfieldString {
  width: 100%;
  margin: 0 1rem;
}

.mattextAreaString {
  width: 100%;
  margin: 0 1rem;
}

.admin_CounterInputs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.matfieldSmallString {
  margin: 0 1rem;
}
