<div class="promotions_body">
  <div class="promo-title_container_banner">
    <div class="promo_title_container">
      <h1>Products & Reviews</h1>
      <div class="materialForm_inputdiv">
        <mat-form-field appearance="outline" color="white">
          <mat-label>Search for any Product</mat-label>
          <mat-icon matSuffix>search</mat-icon>
          <input matInput placeholder="Title, Author" (keyup.enter)="searchFilter($event.target.value)" />
        </mat-form-field>
      </div>
      <div class="allProductTypes" *ngIf="promoListLoaded | async">
        <div *ngFor="let productTypes of productTypes">
          <h2 (click)="selectedCategory(productTypes)">{{productTypes}}</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="promo_container">
    <app-carousel [imageUrlList]="imagesList" [imageTimer]="5000" [isTextVisible]="false"></app-carousel>
  </div>
  <div class="promo_genere_heading">
    <h1>All Products</h1>
  </div>
  <div class="all_promo_container" *ngIf="promoListLoaded | async">
    <div
      *ngFor="let promoObj of promotionsList">
      <app-promopanel [promotionObject]="promoObj"></app-promopanel>
    </div>
  </div>
</div>
