.promotions_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  background-color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.promo_title_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  color: #fff;
  position: relative;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 2rem;
  background-image: url('https://drive.google.com/uc?id=1Elj4HKGuvbTGmMJMdOg9JjaI_TxsKAcE');
  background-size: cover;
  background-position: left;
  background-repeat:repeat-x;
}

.promo_title_container h1 {
  background-color: #002060;
  color: #fff;
  font-size: 25px;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  border-radius: 0.5rem;
}
.materialForm_inputdiv {
  position: relative;
  background-color: #fff;
  padding: 0 1rem;
  border-radius: 1rem;
  color: #000;
}
.materialForm_inputdiv mat-form-field {
  min-width: 18rem;
}

.promo_container {
  width: 100%;
  overflow: hidden;
  padding: 2rem 0;
}
.promo_container /deep/ img {
  max-width: 16rem;
  min-width: 16rem;
  height: 16rem;
  object-fit: cover;
  display: block;
  border-radius: 2rem;
}
.promo_container /deep/ h2 {
  margin-top: 1rem;
  font-size: 15px;
  color: #999;
}
.all_promo_container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

@media (min-width: 768px) and (orientation:portrait) {
  .materialForm_inputdiv mat-form-field {
    min-width: 26rem;
  }

  .promo_container /deep/ img {
    max-width: 26rem;
    min-width: 26rem;
    height: 18rem;
  }
}

@media (min-width: 1224px) and (orientation:portrait) {
  .materialForm_inputdiv mat-form-field {
    min-width: 30rem;
  }

  .promo_container /deep/ img {
    max-width: 52rem;
    min-width: 52rem;
    height: 25rem;
  }
}

@media all and (orientation:landscape) {
  .materialForm_inputdiv mat-form-field {
    min-width: 22rem;
  }
}

@media (min-width: 768px) and (orientation:landscape) {
  .materialForm_inputdiv mat-form-field {
    min-width: 26rem;
  }
  .promo_container /deep/ img {
    max-width: 26rem;
    min-width: 26rem;
    height: 18rem;
  }
}

@media (min-width: 1224px) and (orientation:landscape) {
  .materialForm_inputdiv mat-form-field {
    min-width: 30rem;
  }
  .promo_container /deep/ img {
    max-width: 52rem;
    min-width: 52rem;
    height: 25rem;
  }
}

